<header> 
<div class="header-main_cont d-flex">
    <figure class="header-main_logo" itemscope="" itemtype="https://schema.org/brand">
        <a href="/personas" title="" target="" style="text-decoration: none;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQtaCdDOzdZTbiuCFf00H4n6ukdCtYneTliA&s" alt="Logo Bancolombia" itemprop="logo" aria-label="ir a personas bancolombia">
        </a>

    </figure>
</div>  
<div class="login-button">
    <button><a routerLink="/login">Iniciar sesión</a></button>
</div> 
</header>
